<app-header></app-header>
<ion-content>
<div id="appCapsule">

        <!-- Transactions -->
        <div class="section mt-2">
            <div class="section-title h2">Historial de servicios</div>
            <div class="section-title">Hoy</div>
            <div class="transactions">
                <!-- item -->
                <a href="/servicios-detalle" class="item">
                    <div class="detail">
                        <img src="https://finapp.bragherstudio.com/view2/assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                        <div>
                            <strong>Aes seguridad informatica ltda</strong>
                            <p>Servicio en curso.</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="price text-danger">Seguimiento</div>
                    </div>
                </a>
                <!-- * item -->
               
            </div>
        </div>
        <!-- * Transactions -->

        <!-- Transactions -->


        <!-- Transactions -->
        <div class="section mt-2">
            <div class="section-title">Sep 20, 2020</div>
            <div class="transactions">
                <!-- item -->
                <a href="/servicios-detalle" class="item">
                    <div class="detail">
                        <img src="https://finapp.bragherstudio.com/view2/assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                        <div>
                            <strong>Impresones gomez</strong>
                            <p>Servicio en curso.</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="price text-danger">Seguimiento</div>
                    </div>
                </a>
                <!-- * item -->
            </div>
        </div>
        <!-- * Transactions -->

       
      
        <div class="section mt-2 mb-2">
            <a href="javascript:;" class="btn btn-primary btn-block btn-lg">Cargar Mas</a>
        </div>


    </div>
</ion-content>

<app-bottom-menu></app-bottom-menu>
