
<div class="appBottomMenu">
  <a href="/configuracion" class="item  text-secondary">
      <div class="col">
          <li class="fa fa-cogs fa-2x"></li>
          <strong>Configuracion</strong>
      </div>
  </a>
  <a href="/unirse" class="item text-secondary">
      <div class="col">
          <li class="fa fa-user-friends fa-2x"></li>
          <strong>Unete</strong>
      </div>
  </a>
  <a href="/landing" class="item text-secondary">
      <div class="col">
          <li class="fa fa-home fa-2x"></li>
          <strong>Inicio</strong>
      </div>
  </a>
  <a href="/contacto" class="item text-secondary" >
      <div class="col">
          <i class="fab fa-whatsapp fa-2x"></i>
          <strong>Contacto</strong>
      </div>
  </a>
  <a href="#"  (click)="atras()" class="item text-secondary">
      <div class="col">
          <i class="fa fa-arrow-left fa-2x"></i>
          <strong>Atras</strong>
      </div>
  </a>
</div>


