<!-- loader -->

<!-- * loader -->
<div class="appHeader">
  <div class="left">
    <a href="/landing" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Contacto
  </div>
  <div class="right">
    <a href="tel:3172339048" class="headerButton">
      <ion-icon name="call-outline" role="img" class="md hydrated" aria-label="call outline"></ion-icon>
    </a>
  </div>
</div>
<ion-content>
  <div id="appCapsule">

    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-center">
              <img src="../../../assets/img/LOGO-02.png" alt="logo" class="logo">

              <p>Siempre es un gusto poder atenderte</p>
            </div>


            <form>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="userid3">
                    <li class="fa fa-user fa-2x"></li>&nbsp;Tu nombre
                  </label>
                  <input type="text" class="form-control" id="userid3" placeholder="Mi Nombre es . . .">
                  <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                  </i>
                </div>
                <div class="input-info">Por favor ingresa tu nombre completo.</div>
              </div>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="userid3"><i class="fab fa-amilia fa-2x"></i>&nbsp;Asunto</label>
                  <input type="text" class="form-control" id="userid3" placeholder="Asunto . . .">
                  <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                  </i>
                </div>
                <div class="input-info">Por favor el asunto que acompaña tu mensaje.</div>
              </div>
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="userid3"><i class="fas fa-at fa-2x"></i>&nbsp;E-mail</label>
                  <input type="text" class="form-control" id="email2" placeholder="ejemplo@formato">
                  <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                  </i>
                </div>
                <div class="input-info">Formatos soportados Gmail, Outlook, Hotmail.</div>
              </div>

              <div class="form-group basic">
                <div class="input-wrapper">
                  <label class="label" for="amount3"><i class="fas fa-envelope fa-2x"></i>&nbsp;Mensaje</label>
                  <input type="text" class="form-control" id="amount3" placeholder="Cuerpo del mensaje . . .">
                  <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                  </i>
                </div>

              </div>
              <div class="mt-2">
                <button type="button" class="btn  btn-dark rounded shadowed btn-block">
                  <li class="fa fa-paper-plane fa-2x"></li>&nbsp;Enviar
                </button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-justify">
              <h2 class="text-dark">Informacion de Interes</h2>
              <div class="contact-us__address">
                <p>Cra. 25 #29-2 a 29-116, Tuluá, Valle del Cauca<br>Email: cio@goldtech.com.co <br>Telefono: +57 (317)
                  2339048</p>
                <p><strong>Horario de Apertura</strong><br>Lunes-Domingo 08:00am - 18:00pm</p>
                <p style="text-align: justify;"><strong>Nosotros</strong><br>Somos una empresa que integra servicios de
                  tecnología físicos y virtuales soportados en soluciones que le generan valor a tu negocio o empresa..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section mt-2 mb-2">
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-center">
              <h2 class="text-dark mb-2">Redes Sociales</h2>

              <a href="https://www.facebook.com/goldtechsas" class="btn btn-facebook btn-icon mr-05">
                <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
              </a>

              <a href="#" class="btn btn-twitter btn-icon mr-05">
                <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
              </a>

              <a href="#" class="btn btn-linkedin btn-icon mr-05">
                <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin"></ion-icon>
              </a>

              <a href="#" data-toggle="modal" data-target="#actionSheetContent" data-backdrop="false"
                class="btn btn-whatsapp btn-icon mr-05">
                <ion-icon name="logo-whatsapp" role="img" class="md hydrated" aria-label="logo whatsapp"></ion-icon>
              </a>

              <a href="https://www.instagram.com/goldtech.s.a.s/" class="btn btn-instagram btn-icon mr-05">
                <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
              </a>

              <a href="https://goldtech.com.co/" class="btn btn-dribbble btn-icon mr-05">
                <i class="fab fa-dribbble pr-1 fa-2x"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section mt-2 mb-2">

      <div class="card">
        <div class="">
          <div class="p-1">
            <div class="text-center">
              <h2 class="text-dark mb-2">Ubicanos en </h2>
              <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d38135.57840188453!2d-76.2221925514777!3d4.087310314969439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d4.0819218!2d-76.2131469!4m3!3m2!1d4.0822756!2d-76.1983824!5e0!3m2!1ses!2sco!4v1604661695985!5m2!1ses!2sco"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0">
              </iframe>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="modal fade action-sheet" id="actionSheetContent" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fab fa-whatsapp fa-2x"></i>&nbsp;Enviar mensaje via WhatsApp</h5>
        </div>
        <div class="modal-body">
          <div class="action-sheet-content">
            <p>Puedes enviarnos directamente mensajes a nuestra linea de atencion al cliente via whatsapp..</p>
            <div class="">
              <form>
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="userid3">
                      <li class="fa fa-user fa-2x"></li>&nbsp;Tu nombre
                    </label>
                    <input type="text" class="form-control" id="userid3" placeholder="Mi Nombre es . . .">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>

                </div>

                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="amount3"><i class="fas fa-envelope fa-2x"></i>&nbsp;Mensaje</label>
                    <input type="text" class="form-control" id="amount3" placeholder="Cuerpo del mensaje . . .">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>

                </div>
                <div class="mt-2">
                  <button type="button" (click)="enviarMensajeWp()" class="btn  btn-dark rounded shadowed btn-block">
                    <i class="fab fa-whatsapp fa-2x"></i>&nbsp;Enviar
                  </button>
                </div>
              </form>
              <br><br>
              <a href="#" class="btn btn-dark  btn-lg btn-block" data-dismiss="modal" data-backdrop="false"><i
                  class="fas fa-times"></i>&nbsp;Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-bottom-menu></app-bottom-menu>