<ion-content>

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div data-loader="dual-ring"></div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper   
============================================= -->
  <div id="main-wrapper">



    <!-- Content
  ============================================= -->
    <div id="content" class="py-4">
      <div class="container">
        <div class="row">


          <!-- Middle Panel
        ============================================= -->
          <div class="col-lg-12">
            <h1 class="font-weight-bold mb-3 tablet-font">DATOS DE OPERACION DESCENSO - DESCENSO</h1>
            <hr><br>
<!-- 
            <div class="card-body">

              <fieldset class="form-group">
                <input type="text"  class="tablet-font form-control text-center font-weight-bold" readonly
                  value="DESCENSO - DESCENSO">
              </fieldset>
            </div> -->

            <!-- All Transactions
          ============================================= -->
            <form id="personaldetails" method="post">
              <div class="form-body">

                <div class="form-group row m-2">
                  <label class=" col-md-3 label-control font-weight-bold tablet-font">Ciudad de Origen:</label>
                  <div class="col-md-9 mx-auto">
                    <input readonly type="text" class=" tablet-font border  font-weight-bold form-control" placeholder="Armenia">
                  </div>
                </div>
                <br>
                <div class="form-group row m-2 ">
                  <label class=" col-md-3 label-control font-weight-bold tablet-font">Pasajeros Descendidos:</label>
                  <div class="col-md-9 mx-auto">
                    <input readonly type="text" class="tablet-font border  font-weight-bold form-control" placeholder="23">
                  </div>
                </div>
                <br>
                <div class="row">
                <div class="col-12 col-sm-12 m-2">
                  <div class="form-group">
                    <label class="font-weight-bold tablet-font">Hora Aproximada de Despacho </label>
                    
                  </div>
                </div>
                <div class="col-4 col-sm-2 ">
                  <div class="form-group">
                    <label class="font-weight-bold">&nbsp;</label>
                  </div>
                </div>
                <div class="col-4 col-sm-4 ">
                  <div class="form-group">
                    <label class="font-weight-bold text-right tablet-font">Hora: </label>
                    <input readonly type="text" class=" tablet-font border  font-weight-bold form-control" 
                      placeholder="09">
                  </div>
                </div>
                
                <div class="col-4 col-sm-4 ">
                  <div class="form-group">
                    <label class="font-weight-bold tablet-font">Minutos: </label>
                    <input readonly type="text" class="tablet-font border  font-weight-bold form-control" 
                      placeholder="23">
                  </div>
                </div>
              </div>

              </div>
              <div class="form-actions text-right tablet-font">
                <button routerLink="/salida-novalida" routerLinkActive="active" type="button"
                  style="text-align: center; " class="btn btn-danger   round box-shadow-6 btn mr-2 mb-2 btn-lg ">
                  <i class="fa fa-ban fa-2x"></i>&nbsp; Cancelar
                </button>
                <button routerLink="/mensaje-origen" routerLinkActive="active" type="button"
                  class="btn btn-primary round box-shadow-4 btn mr-2 mb-2 btn-lg">
                  <i class="fa fa-arrow-circle-right fa-2x "></i>&nbsp; Terminar
                </button>
              </div>


            </form>
            <!-- All Transactions End -->
          </div>
          <!-- Middle End -->
        </div>
      </div>
    </div>
    <!-- Content end -->

  </div>
  <!-- Document Wrapper end -->


</ion-content>