<app-header></app-header>
<ion-content>
    <div id="appCapsule" class="fondo__app">
        <div class="section ">
                <div class="card-body">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" value="" placeholder="Ingresa el nombre la ciudad?">
                        <a href="/empresa-resultados"><i class="input-icon"><ion-icon name="search-outline"></ion-icon></i></a>
                    </div>
                        <div class="form-group boxed">
                            <div class="input-wrapper">
                                <select class="form-control custom-select" id="select4b">
                                    <option value="1">Seleccionar ciudad</option>                                 
                                </select>
                            </div>
                        </div>
                </div>
        </div>
        <div class="section  text-center " style="zoom: 90%;" >
            <div class="avatar-section">
                <a href="/ofertas">
                    <img src="../../assets/img/diseno_app-25.png" alt="avatar" class="imagen_landing w100 rounded">
                </a>
            </div>
            <p>OFERTAS</p>
        </div>
        <div class="section  text-center " style="zoom: 90%;" >
            <div class="avatar-section">
                <a href="/independientes">
                    <img src="../../assets/img/diseno_app-26.png" alt="avatar" class="imagen_landing w100 rounded">
                </a>
            </div>
            <p>INDEPENDIENTES</p>
        </div>
        <div class="section  text-center" style="zoom: 90%;" >
            <div class="avatar-section">
                <a href="/empresa">
                    <img src="../../assets/img/diseno_app-27.png" alt="avatar" class="imagen_landing w100 rounded">
                </a>
            </div>
            <p>EMPRESAS</p>
        </div>
        <!-- app footer -->
        <!-- * app footer -->
    </div>
</ion-content>
<app-bottom-menu></app-bottom-menu>