<ion-content>

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div data-loader="dual-ring"></div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper   
============================================= -->
  <div id="main-wrapper">



    <!-- Content
  ============================================= -->
    <div id="content" class="py-4">
      <div class="container">
        <div class="row">


          <!-- Middle Panel
        ============================================= -->
          <div class="col-lg-12">
            <h1 class="font-weight-bold mb-3 tablet-font">DATOS DE OPERACION - TRANSITO</h1>
            <hr><br>

            <div class="card-body">

              <fieldset class="form-group">
                <input type="text"  class="tablet-font h2 text-dark text-black form-control text-center font-weight-bold" readonly
                  value="TRANSITO">
              </fieldset>
            </div>

            <!-- All Transactions
          ============================================= -->
            <form id="personaldetails" method="post">
              <div class="form-body">
               
                <div class="form-group row">
                    <label class=" col-md-3 label-control font-weight-bold tablet-font">Ciudad de Origen:</label>
                    <div class="col-md-9 mx-auto">
                        <select  name="ciudadOrigen" class="tablet-font h2 form-control custom-select font-weight-bold">
                            <option value="none" selected="" >Seleccione</option>
                            <option [value]="ciudad" *ngFor="let ciudad of ciudades">{{ ciudad }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class=" col-md-3 label-control font-weight-bold tablet-font" >Ciudad de Destion:</label>
                    <div class="col-md-9 mx-auto">
                        <select name="ciudadDestino" class=" tablet-font h2 form-control custom-select font-weight-bold">
                            <option value="none" selected="" >Seleccione</option>
                            <option [value]="ciudad" *ngFor="let ciudad of ciudades">{{ ciudad }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class=" col-md-3 label-control font-weight-bold tablet-font" >Pasajeros Descendidos</label>
                    <div class="col-md-9 mx-auto">
                        <select  name="pasajeros" class=" tablet-font h2 form-control custom-select font-weight-bold">
                            <option value="none" selected="" disabled="">Seleccione</option>
                            <option [value]="numeropasajeros" *ngFor="let numeropasajeros  of numeroPasajeros">{{ numeropasajeros }}</option>
                        </select>
                    </div>
                </div>

            </div>
              <div class="form-actions text-right tablet-font">
                <button routerLink="/tipos-operacion" routerLinkActive="active" type="button"
                  style="text-align: center; " class="btn btn-danger   round box-shadow-6 btn mr-2 mb-2 btn-lg ">
                  <i class="fa fa-arrow-left fa-2x"></i>&nbsp; Regresar
                </button>
                <button routerLink="/mensaje-transito" routerLinkActive="active" type="button"
                  class="btn btn-primary round box-shadow-4 btn mr-2 mb-2 btn-lg">
                  <i class="fa fa-arrow-circle-right fa-2x "></i>&nbsp; Continuar
                </button>
              </div>

            </form>
            <!-- All Transactions End -->
          </div>
          <!-- Middle End -->
        </div>
      </div>
    </div>
    <!-- Content end -->

  </div>
  <!-- Document Wrapper end -->


</ion-content>