<!-- <div class="appHeader">
  <div class="left">
    <a href="/landing" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Ampliar mi cuenta
  </div>
  <div class="right">
    <a href="#" class="headerButton">
      <ion-icon class="icon md hydrated" name="notifications-outline" role="img" aria-label="notifications outline">
      </ion-icon>
      <span class="badge badge-danger">4</span>
    </a>
  </div>
</div> -->
<app-header></app-header>
<ion-content>
  <div id="appCapsule">
    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <form>
              <div class="section mt-4 text-center">
                <div class="">
                  <a href="/empresa">
                    <img src="../../assets/img/LOGO-02.png" alt="avatar" class="">
                  </a>
                </div>
              </div>
              <div class="form-group basic">
                <div class="section">
                  <div class="splash-page mt-5 mb-5">
                    <div class="transfer-verification">
                      <div class="transfer-amount">
                        <span class="caption">
                          <h2>Tipo de cuenta</h2><span class="badge badge-success">Cliente</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion" id="accordion02">
                <h2 class="mb-2 mt-2">Empresas!</h2>
                <p>
                  Porque deberia tener una cuenta empresarial
                </p>
                <div class="section mt-4 text-center">
                  <div class="avatar-section">
                    <a href="/empresa">
                      <img src="../../assets/img/diseno_app-31.png" alt="avatar" class="imaged w100 rounded">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="accordion-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1b"
                      aria-expanded="false">
                      <ion-icon name="wallet-outline" role="img" class="md hydrated" aria-label="wallet outline">
                      </ion-icon>
                      Paquete Plata $ 000
                    </button>
                  </div>
                  <div id="accordion1b" class="accordion-body collapse" data-parent="#accordion02" style="">
                    <div class="accordion-content">
                      Descripcion .......
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="accordion-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2b">
                      <ion-icon name="card-outline" role="img" class="md hydrated" aria-label="card outline"></ion-icon>
                      Paquete Oro $ 000
                    </button>
                  </div>
                  <div id="accordion2b" class="accordion-body collapse" data-parent="#accordion02">
                    <div class="accordion-content">
                      Descripcion .......
                    </div>
                  </div>
                </div>

              </div>
              <br>
              <div class="">
                <div class="section-heading">
                  <h2 class="title">Metodos de Pago</h2>
                </div>
                <div class="transactions">
                  <!-- item -->
                  <!-- item -->
                  <div id="smart-button-container" class="item">
                    <div style="text-align: center;">
                      <div id="paypal-button-container"></div>
                    </div>
                  </div>
                  <!-- * item -->
                  <!-- item -->
                  <a href="https://biz.payulatam.com/B0dd5cfEB7AAB8E" class="item">
                    <div class="detail">
                      <img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png" alt="img"
                        class="image-block imaged w100">
                      <div>
                        <strong>PAYU LATAM</strong>
                        <p>$ 30,000 COP</p>
                      </div>
                    </div>
                    <div class="right">
                    </div>
                  </a>
                  <!-- * item -->
                  <!-- item -->
                  <a href="https://mpago.li/2s9AeFA" class="item">
                    <div class="detail">
                      <img
                        src="https://tarjetaliderbci.cl/public/img/subidas/ecommerce/productos/marca/2020/06/22/5ef0abcc6df9f.jpg"
                        alt="img" class="image-block imaged w100">
                      <div>
                        <strong>Mercado Pago</strong>
                        <p>$ 30,000 COP</p>
                      </div>
                    </div>
                    <div class="right">
                    </div>
                  </a>
                  <!-- * item -->
                </div>
              </div>
              <div class="mt-2">
                <div id="smart-button-container">
                  <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="accordion02">
                <h2 class="mb-2 mt-2">Independientes!</h2>
                <p>
                  Perfil para profesionales independientes
                </p>
                <div class="section mt-4 text-center">
                  <div class="avatar-section">
                    <a href="/empresa">
                      <img src="../../assets/img/opcion3.png" alt="avatar" class="imaged w100 rounded">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="accordion-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1b"
                      aria-expanded="false">
                      <ion-icon name="wallet-outline" role="img" class="md hydrated" aria-label="wallet outline">
                      </ion-icon>
                      Paquete Plata $ 000
                    </button>
                  </div>
                  <div id="accordion1b" class="accordion-body collapse" data-parent="#accordion02" style="">
                    <div class="accordion-content">
                      Descripcion .......
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="accordion-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion2b">
                      <ion-icon name="card-outline" role="img" class="md hydrated" aria-label="card outline"></ion-icon>
                      Paquete Oro $ 000
                    </button>
                  </div>
                  <div id="accordion2b" class="accordion-body collapse" data-parent="#accordion02">
                    <div class="accordion-content">
                      Descripcion .......
                    </div>
                  </div>
                </div>

              </div>
              <br>
              <div class="">
                <div class="section-heading">
                  <h2 class="title">Metodos de Pago</h2>
                </div>
                <div class="transactions">
                  <!-- item -->
                  <!-- item -->
                  <div id="smart-button-container" class="item">
                    <div style="text-align: center;">
                      <div id="paypal-button-container"></div>
                    </div>
                  </div>
                  <!-- * item -->
                  <!-- item -->
                  <a href="https://biz.payulatam.com/B0dd5cfEB7AAB8E" class="item">
                    <div class="detail">
                      <img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png" alt="img"
                        class="image-block imaged w100">
                      <div>
                        <strong>PAYU LATAM</strong>
                        <p>$ 30,000 COP</p>
                      </div>
                    </div>
                    <div class="right">
                    </div>
                  </a>
                  <!-- * item -->
                  <!-- item -->
                  <a href="https://mpago.li/2s9AeFA" class="item">
                    <div class="detail">
                      <img
                        src="https://tarjetaliderbci.cl/public/img/subidas/ecommerce/productos/marca/2020/06/22/5ef0abcc6df9f.jpg"
                        alt="img" class="image-block imaged w100">
                      <div>
                        <strong>Mercado Pago</strong>
                        <p>$ 30,000 COP</p>
                      </div>
                    </div>
                    <div class="right">
                    </div>
                  </a>
                  <!-- * item -->
                </div>
              </div>
              <div class="mt-2">
                <div id="smart-button-container">
                  <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-bottom-menu></app-bottom-menu>