<!-- loader -->

<!-- * loader -->
<div class="appHeader">
  <div class="left">
    <a href="/" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Terminos y condiciones de uso
  </div>
  <div class="right">
    
  </div>
</div>
<ion-content>
  <div id="appCapsule">

    <div class="section mt-2">
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-center">
              <img src="../../../assets/img/LOGO-02.png" alt="logo" class="logo">

              <p>Siempre es un gusto poder atenderte</p>
            </div>


            <div class="">
              <div class="modal-header">
                  <h5 class="modal-title">Terminos y condiciones</h5>
               
              </div>
              <div class="modal-body " style="text-align: justify;">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum, urna eget finibus
                      fermentum, velit metus maximus erat, nec sodales elit justo vitae sapien. Sed fermentum
                      varius erat, et dictum lorem. Cras pulvinar vestibulum purus sed hendrerit. Praesent et
                      auctor dolor. Ut sed ultrices justo. Fusce tortor erat, scelerisque sit amet diam rhoncus,
                      cursus dictum lorem. Ut vitae arcu egestas, congue nulla at, gravida purus.
                  </p>
                  <p>
                      Donec in justo urna. Fusce pretium quam sed viverra blandit. Vivamus a facilisis lectus.
                      Nunc non aliquet nulla. Aenean arcu metus, dictum tincidunt lacinia quis, efficitur vitae
                      dui. Integer id nisi sit amet leo rutrum placerat in ac tortor. Duis sed fermentum mi, ut
                      vulputate ligula.
                  </p>
                  <p>
                      Vivamus eget sodales elit, cursus scelerisque leo. Suspendisse lorem leo, sollicitudin
                      egestas interdum sit amet, sollicitudin tristique ex. Class aptent taciti sociosqu ad litora
                      torquent per conubia nostra, per inceptos himenaeos. Phasellus id ultricies eros. Praesent
                      vulputate interdum dapibus. Duis varius faucibus metus, eget sagittis purus consectetur in.
                      Praesent fringilla tristique sapien, et maximus tellus dapibus a. Quisque nec magna dapibus
                      sapien iaculis consectetur. Fusce in vehicula arcu. Aliquam erat volutpat. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  </p>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>

  

  </div>


</ion-content>
<app-bottom-menu></app-bottom-menu>