<app-header></app-header>
<ion-content>
  <div id="appCapsule">

    

    <div class="section mt-2 mb-2">
     <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-justify">
              <h2 class="text-dark">Ticket de Soporte</h2>
              <div class="contact-us__address">
               
                <p style="text-align: justify;"><strong>Soporte tecnico</strong><br>Si presentas fallas o errores en la aplicacion no
                 dudes en avisarnos para ayudarte, estamos 24/7 para ofrecerte el mejor servicio.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="p-1">
            <div class="text-center">
              <h2 class="text-dark mb-2"><i class="fas fa-hands-helping"></i>&nbsp;Via:</h2>

         

              <a href="#" data-toggle="modal" data-target="#actionSheetContent" data-backdrop="false"
                class="btn btn-whatsapp btn-icon mr-05">
                <ion-icon name="logo-whatsapp" role="img" class="md hydrated" aria-label="logo whatsapp"></ion-icon>
              </a>

            

            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="modal fade action-sheet" id="actionSheetContent" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fab fa-whatsapp fa-2x"></i>&nbsp;Enviar mensaje via WhatsApp</h5>
        </div>
        <div class="modal-body">
          <div class="action-sheet-content">
            <p>Puedes enviarnos directamente mensajes a nuestra linea de atencion al cliente via whatsapp..</p>
            <div class="">
              <form>
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="userid3">
                      <li class="fa fa-user fa-2x"></li>&nbsp;Tu nombre
                    </label>
                    <input type="text" class="form-control" id="userid3" placeholder="Mi Nombre es . . .">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>

                </div>

                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="amount3"><i class="fas fa-envelope fa-2x"></i>&nbsp;Mensaje</label>
                    <input type="text" class="form-control" id="amount3" placeholder="Cuerpo del mensaje . . .">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>

                </div>
                <div class="mt-2">
                  <button type="button" (click)="enviarMensajeWp()" class="btn  btn-dark rounded shadowed btn-block">
                    <i class="fab fa-whatsapp fa-2x"></i>&nbsp;Enviar
                  </button>
                </div>
              </form>
              <br><br>
              <a href="#" class="btn btn-dark  btn-lg btn-block" data-dismiss="modal" data-backdrop="false"><i
                  class="fas fa-times"></i>&nbsp;Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-bottom-menu></app-bottom-menu>