<!-- <div class="appHeader">
  <div class="left">
    <a href="/landing" class="headerButton goBack">
      <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
    </a>
  </div>
  <div class="pageTitle">
    Notificaciones
  </div>
  <div class="right">
    <a href="/configuracion" class="headerButton">
      <li class="fa fa-cogs fa-2x"></li>
      <span class="badge badge-danger">4</span>
    </a>
  </div>
</div> -->
<app-header></app-header>
<ion-content>
  <div id="appCapsule">

    <div class="section full">

        <ul class="listview image-listview flush">
          
            <li class="active">
                <a href="/oferta-detalle" class="item">
                    <div class="icon-box bg-success">
                        <ion-icon name="arrow-forward-outline" role="img" class="md hydrated" aria-label="arrow forward outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>
                            <div class="mb-05"><strong>Leños y marisco</strong></div>
                            <div class="text-small mb-05">A lanzodo una nueva oferta de descuento</div>
                            <div class="text-xsmall">06/11/2020 10:30 AM</div>
                        </div>
                        <a href="/oferta-detalle" ><span class="badge badge-primary">Ver oferta</span></a>
                    </div>
                </a>
            </li>

            <li>
                <a href="/oferta-detalle" class="item">
                    <div class="icon-box bg-warning">
                        <ion-icon name="chatbubble-outline" role="img" class="md hydrated" aria-label="chatbubble outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>
                            <div class="mb-05"><strong>Frisby </strong></div>
                            <div class="text-small mb-05">a lanzado una nueva oferta en sus productos </div>
                            <div class="text-xsmall">5/3/2020 10:30 AM</div>
                        </div>
                        <a href="/oferta-detalle" ><span class="badge badge-primary">Ver oferta</span></a>
                    </div>
                </a>
            </li>
           
        </ul>

    </div>

</div>
</ion-content>
<app-bottom-menu></app-bottom-menu>
