<ion-content>

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div data-loader="dual-ring"></div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper   
============================================= -->
  <div id="main-wrapper">



    <!-- Content
  ============================================= -->
    <div id="content" class="py-4">
      <div class="container">
        <div class="row">


          <!-- Middle Panel
        ============================================= -->
          <div class="col-lg-12">
            <h1 class="font-weight-bold mb-3 tablet-font">DATOS DE OPERACION DESCENSO - PATIO DE RESERVA</h1>
            <hr><br>

            <!-- <div class="card-body">

              <fieldset class="form-group">
                <input type="text"  class="tablet-font form-control text-center font-weight-bold" readonly
                  value="DESCENSO - PATIO DE RESERVA">
              </fieldset>
            </div> -->

            <!-- All Transactions
          ============================================= -->
            <form id="personaldetails" method="post">
              <div class="form-body">

                <div class="form-group row m-2">
                  <label class=" col-md-3 label-control font-weight-bold tablet-font">Ciudad de Origen:</label>
                  <div class="col-md-9 mx-auto">
                    <input readonly type="text" class="tablet-font border  font-weight-bold form-control" placeholder="Armenia">
                  </div>
                </div>
                <br>
                <div class="form-group row m-2 ">
                  <label class=" col-md-3 label-control font-weight-bold tablet-font">Pasajeros Descendidos:</label>
                  <div class="col-md-9 mx-auto">
                    <input readonly type="text" class="tablet-font border  font-weight-bold form-control" placeholder="23">
                  </div>
                </div>
                <br>
                <div class="col-12 col-sm-12 m-2 text-center m-2">
                  <div class="form-group">
                    <label class="font-weight-bold tablet-font">Espere en patio de reserva. </label>
                  </div>
                </div>
                <br>
                <div class="col-12 col-sm-12 m-2 text-center m-2">
                  <div class="form-group">
                    <label class="font-weight-bold tablet-font">Ingreso exclusivo para la espera de su despacho. </label>
                  </div>
                </div>
                <br>
                <div class="col-12 col-sm-12 m-2 text-center m-2">
                  <div class="form-group">
                    <label class="font-weight-bold tablet-font">Gracias...</label>
                  </div>
                </div>


              </div>


            </form>
            <!-- All Transactions End -->
          </div>
          <!-- Middle End -->
        </div>
      </div>
    </div>
    <!-- Content end -->

  </div>
  <!-- Document Wrapper end -->


</ion-content>